@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Scheduler.io</h4>
    </div>
    <div class="panel-body">
        This application was created for automation of creating and managing working schedule.
    </div>
</div>